*{
    box-sizing: border-box;

}
body{
    margin:0;
    padding:0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #592dff;
    color:white;
    
    
    
}
.brand-container{
    display: flex;
    padding:15px;
    
    }
.brand-title{
    font-size: 2rem;
    margin:.5rem;
   
}
.navbar-links ul{
    margin:0;
    padding:0;
    display: flex;
    align-content: center;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a:hover{
    background-color: #4b19fd;
    color:whitesmoke;
    
}
.navbar-links li a{
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
    padding:2rem;
    display:block;
    
}
.navbar-links li .profile{
    margin-top:1.3rem;
    margin-left:10px;
   
}

.toggle-button{
    position: absolute;
    top:2rem;
    right:1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 40px;
}

.toggle-button .bar{
height: 4px;
width: 100%;
background-color: white;
border-radius: 10px;

}
@media (max-width:600px)  {

    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display:none ;
        width: 100%;
        
    }
   
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    
    .navbar-links li a{
        text-align: center;
        padding:.5rem 1rem;
      
    }
    .navbar-links li:nth-child(3){
        margin-bottom:-10px;
        
      
    }
     .profile{
       margin-top:-20px;
       padding-top:-20px;
      
    }
    
    .navbar-links.active{
        display: flex;
    }
    
    
   

}